#Data Structure

1. What are data structures, and why are they important?
   - Data structures are specialized formats or containers used to store and organize data efficiently.
   - They are important because they provide various ways to store, access, and manipulate data according to specific needs.
    
     **Example:** A String is used to store and manipulate text data, like storing a name or password in a program.

2. Explain the difference between mutable and immutable data types with examples?
   - **Mutable data type :** Mutable data type values can be changed or modified after creation without creating a new object. The changes occur in the same memory location.
   Example: List, Dictionary, Set.
   - **Immutable data type :** Immutable data type values cannot be changed once created. Any modification creates a new object.
   Example: Tuple, String.
3. What are the main differences between lists and tuples in Python?
   -  The main difference between lists and tuples is List is a mutable data type. It is defined using [ ] (square brackets) and Tuple is a Immutable data type. It is defined using ( ) (parentheses).

4. Describe how dictionaries store data?
   - Dictionaries in Python store data in the form of key-value pairs. Each key is unique and maps to a specific value, allowing for fast data retrieval.

5. Why might you use a set instead of a list in Python?
   - You might use a set instead of a list in Python when you need to store unique values and perform faster lookups.
Sets automatically remove duplicates.

6. What is a string in Python, and how is it different from a list?
   - A string in Python is a sequence of characters enclosed in single, double, or triple quotes. It is an immutable data type, meaning its values cannot be changed after creation.
   - List is a collection of elements enclosed in [ ]. It is different from a string because it is mutable, meaning its values can be changed after creation.

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python by being immutable, their values cannot be changed after creation.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores data in key-value pairs using a hashing mechanism.
   -It is relate to dictionaries because In Python, dictionaries are implemented using hash tables, allowing for efficient data retrieval with an average time complexity of O(1).

9. Can lists contain different data types in Python?
   - Yes, in Python, lists can contain different data types. we can store integers, floats, strings, booleans in a single list.

10. Explain why strings are immutable in Python?
    - Strings are immutable in Python because they are stored in memory as a sequence of characters that cannot be changed once created.

11. What advantages do dictionaries offer over lists for certain tasks?
    - **Advantages of Dictionaries over Lists**
      * **Faster search:** Dictionaries find values quickly using keys, while lists take longer.

      * **Key-value pairs:** Dictionaries store data in key-value form, making it easier to access.

      * **Better data organization:** Useful for storing related information together.

      * **Unique keys:** Keys in dictionaries are unique, avoiding duplicates.

12.  Describe a scenario where using a tuple would be preferable over a list.
     - Tuples are preferable when we want to store fixed, unchangeable data to ensure data integrity.
     For example, Aadhar numbers, employee IDs, and bank account numbers are unique and unchangeable data. To ensure they remain constant and cannot be accidentally modified, it is better to store them in a tuple.

13. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicate values. When we add duplicate elements to a set, it keeps only one unique copy of each value.

14. How does the “in” keyword work differently for lists and dictionaries?
    - The "in" keyword behaves differently for lists and dictionaries. When we used with a list, it checks whether a value is present in the list by performing a linear search, which has a time complexity of O(n). This means the larger the list, the longer it takes to search. But, when we used with a dictionary, the "in" keyword checks for the presence of a key, not the value. It uses hashing for faster lookup, resulting in an O(1) time complexity, making the search process much quicker, even for large dictionaries.        
15. Can you modify the elements of a tuple? Explain why or why not?
    - We cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed.
This immutability ensures data integrity and makes tuples hashable, allowing them to be used as keys in dictionaries or elements in sets.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary inside another dictionary. It allows us to store complex data in a structured way by grouping related information together.
     Example, A nested dictionary is useful for storing employee details in a company, where each employee has multiple attributes like name, age, and department.
17. Describe the time complexity of accessing elements in a dictionary?
    - In Python, accessing elements in a dictionary has an average time complexity of O(1).
This is because dictionaries use hashing, which allows for constant-time lookups regardless of the dictionary’s size.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries in situations where we need to store ordered, simple, and sequential data. They are ideal for small datasets and are more memory-efficient in such cases. Lists allow index-based access, making it easy to retrieve elements by their position. They are also better suited for storing individual values like names or numbers.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries were considered unordered before Python 3.7 because they used hashing, which didn’t guarantee the insertion order of key-value pairs.
    - When dictionaries were unordered, data retrieval was still efficient (O(1) time complexity), but the order of elements was unpredictable. This made dictionaries unsuitable for tasks requiring ordered data, such as maintaining logs or displaying items in a specific sequence.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - The main difference between lists and dictionaries in terms of data retrieval is the way they access elements. Lists use index-based retrieval (e.g., list[0]). This provides O(1) time complexity for direct index access, but searching for a specific value takes O(n) time. In contrast, dictionaries use key-based retrieval, where we access values using their unique keys (e.g., dict['name']). Due to hashing, dictionary lookups have an average time complexity of O(1), making them faster and more efficient for retrieving specific values.

#Practical Questions

In [1]:
#1 Write a code to create a string with your name and print it.

name = "Pramod"
print(name)

Pramod

In [12]:
#2 Write a code to find the length of the string "Hello World".

string1 = "Hello World"
print(len(string1))

11

In [13]:
#3 Write a code to slice the first 3 characters from the string "Python Programming".

string1 = "Python Programming"
print(string1[0:3])

Pyt

In [14]:
#4 Write a code to convert the string "hello" to uppercase.

string1 = "hello"
print(string1.upper())

HELLO

In [15]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

string1 = "I like apple"
print(string1.replace("apple", "orange"))

I like orange

In [23]:
#6 Write a code to create a list with numbers 1 to 5 and print it.

list1 = [1, 2, 3, 4, 5]
print(list1)

# list1 = []
# for i in range(1,6):
#   list1.append(i)
# print(list1)

[1, 2, 3, 4, 5]

In [17]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4].
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [18]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [19]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list1 = ['a', 'b', 'c', 'd']
print(list1[1])

b

In [20]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100, 200, 300)
print(tuple1)

In [22]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ('red', 'green', 'blue', 'yellow')
print(tuple1[-2])

blue

In [24]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple1 = (10, 20, 5, 15)
print(min(tuple1))

5

In [25]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple1 = ('dog', 'cat', 'rabbit')
print(tuple1.index("cat"))

1

In [26]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple1 = ("apple", "banana", "mango")
print("kiwi" in tuple1)

False

In [27]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'b', 'a', 'c'}

In [28]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [29]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [31]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2)

{1, 2, 3, 4, 5}

In [32]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

print(set1 & set2)

{2, 3}

In [33]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {"name": "Rohan", "age": 21, "city": "Mumbai"}
print(dict1)

{'name': 'Rohan', 'age': 21, 'city': 'Mumbai'}

In [34]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1 = {'name': 'John', 'age': 25}
dict1["country"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1 = {'name': 'Alice', 'age': 30}
print(dict1["name"])

Alice

In [36]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop("age")
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [37]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict1)

True

In [38]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.
list1 = [1, 2, 3, 4]
tuple1 = (1, 2, 3, 4)
dict1 = {"name": "Rohan", "age": 21, "city": "Mumbai"}
print(list1)
print(tuple1)
print(dict1)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Rohan', 'age': 21, 'city': 'Mumbai'}

In [39]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list1 = []
for i in range(5):
  list1.append(random.randint(1, 100))
list1.sort()
print(list1)

[32, 53, 62, 72, 99]

In [41]:
#28 Write a code to create a list with strings and print the element at the third index.
list1 = ["apple", "banana", "mango", "orange"]
print(list1[3])

orange

In [42]:
#29 Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Rohan", "age": 21, "city": "Mumbai"}
dict2 = {"country": "India", "state": "Maharashtra"}
dict1.update(dict2)
print(dict1)

{'name': 'Rohan', 'age': 21, 'city': 'Mumbai', 'country': 'India', 'state': 'Maharashtra'}

In [43]:
#30 Write a code to convert a list of strings into a set.
list1 = ["apple", "banana", "mango", "orange"]
set1 = set(list1)
print(set1)

{'banana', 'orange', 'apple', 'mango'}